<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body style="background-color:yellow;">
<div class="container fluid text-center">
    <div><h2>Manage User</h2></div>
    <div class="mr-2">
        <a class="h5 "th:href="@{users/new}">Add new User</a>
    </div>
    <div th:if="${message}"class="alert alert-success text-center">
        [[${message}]]
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Enabled</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="users,it :${listUsers}">
                <tr>
                <td>[[${it.index+1}]]</td>
                    <td>[[${users.email}]]</td>
                    <td>[[${users.firstName}]]</td>
                    <td>[[${users.lastName}]]</td>
                    <td>[[${users.enabled}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/users/edit/'+ ${users.id}}">Edit</a>
                        <a class="h4 mr-3" th:href="@{'/users/delete/'+ ${users.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>